.container{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -5;
    scroll-snap-align: end;
}

.img{
    width: 60vmin;
    object-fit: cover;
    position: absolute;
    left: 0; 
    right: 0; 
    top: -3rem;
    bottom: 0;
    margin: auto;
    transform: translateZ(-3px) scale(1.5);
}

.title{
    text-align: center;
    font-family: 'Bebas Neue';
    font-weight: 100;
    font-size: 10vmin;
    margin: 0;
    margin-top: 0rem;
    color: #2F2F2F;
    transform: translateZ(-0px) scale(1.4);
    align-self: center;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.line{
    position: absolute;
    width: .1rem;
    height: 225rem;
    background-color: #c0c0c0;
    margin-top: 89vh;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}
.dot{
    margin-top: 89vh;
}

.dot2{
    margin-top: calc(89vh + 225rem);
}

.firstImg,
.secondImg,
.thirdImg,
.fourthImg,
.fifthImg{
    position: absolute;
    width: 43%;
    max-width: 900px;
    object-fit: cover;
    margin-left: -2.8%;
    transform: translateZ(-2px) scale(1.3);
    cursor: pointer;
    transition: transform .5s, filter .5s;
    z-index: 1;
    border-radius: .3rem;
}

.firstImg{
    margin-top: calc(320vh/2.66);
}

.secondImg{
    width: 42.4%;
    margin-top: calc((320vh/2.66) + 40rem);
    margin-left: 59.7%;
}

.thirdImg{
    margin-top: calc((320vh/2.66) + 80rem);
}

.fourthImg{
    width: 42.4%;
    margin-top: calc((320vh/2.66) + 120rem);
    margin-left: 59.7%;
}

.fifthImg{
    margin-top: calc((320vh/2.66) + 155rem);
}

.firstImg:hover,
.secondImg:hover,
.thirdImg:hover,
.fourthImg:hover,
.fifthImg:hover{
    transform: translateZ(-2px) scale(1.3) translateY(-.5rem);
    transition: transform .5s;
}

.firstTitleContainer,
.secondTitleContainer,
.thirdTitleContainer,
.fourthTitleContainer,
.fifthTitleContainer{
    border: none;
    width: fit-content;
    height: fit-content;
    background-color: white;
    position: absolute;
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    transition: transform 1s;

}

.firstTitleContainer{
    margin-top: calc((320vh/2.66) + 15rem);
    left: 8rem; 
}

.secondTitleContainer{
    margin-top: calc((320vh/2.66) + 55rem);
    left: -10rem; 
}

.thirdTitleContainer{
    margin-top: calc((320vh/2.66) + 95rem);
    left: 8rem;
}

.fourthTitleContainer{
    margin-top: calc((320vh/2.66) + 135rem);
    left: -8rem; 
}

.fifthTitleContainer{
    margin-top: calc((320vh/2.66) + 168rem);
    left: 4rem;
}



.firstTitle1,
.secondTitle1,
.thirdTitle1,
.fourthTitle1,
.fifthTitle1{
    font-family: 'Montserrat';
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
    color: #2F2F2F;
}

.secondTitle1,
.fourthTitle1{
    text-align: end;
}

.firstTitle2,
.secondTitle2,
.thirdTitle2,
.fourthTitle2,
.fifthTitle2{
    font-family: 'Montserrat';
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
    color: #2F2F2F;
    transition-property: opacity;
    transition-duration: 2s;
    transition-delay: .8s;
}

.secondTitle2,
.fourthTitle2{
    text-align: end;
}

.footer{
    margin-top: calc(89vh + 225rem + 15rem); 
    /* dot + linea + 15, actualizar y se acomoda solo :D */
}

.MyClassEnterActive {
    opacity: 0;
    transform: translate(0px, 10px);
    transition: transform .5s, opacity .4s linear;
}
  
.MyClassEnterDone {
    opacity: 1;
    transform: translate(0px, -10px);
    transition: transform .5s, opacity .4s linear;
}
  
@media (max-width: 950px) {

    .firstTitle1,
    .secondTitle1,
    .thirdTitle1,
    .fourthTitle1,
    .fifthTitle1,
    .firstTitle2,
    .secondTitle2,
    .thirdTitle2,
    .fourthTitle2,
    .fifthTitle2{
        font-size: 1.3rem;
    }

    .firstTitleContainer{
        left: 5rem; 
    }

    .thirdTitleContainer{
        
        left: 7rem;
    }

    .fifthTitleContainer{
        left: 3rem; 
    }

    .secondTitleContainer,
    .fourthTitleContainer{
        left: -8rem; 
    }
}

@media (min-width: 2100px) {

    .firstImg,
    .thirdImg,
    .fifthImg{
        margin-left: calc((100vw/2) - 10rem - 950px);
    }

    .secondImg,
    .fourthImg{
        margin-left: calc((100vw/2) + 13.5rem );
    }
    
    .firstTitle1,
    .secondTitle1,
    .thirdTitle1,
    .fourthTitle1,
    .fifthTitle1,
    .firstTitle2,
    .secondTitle2,
    .thirdTitle2,
    .fourthTitle2,
    .fifthTitle2{
        font-size: 2.3rem;
    }

    .line{
        height: 230rem;
    }

    .dot2{
        margin-top: calc(89vh + 230rem);
    }

}

@media (max-width: 700px) {
    .firstTitleContainer{
        left: 6rem; 
    }

    .fifthTitleContainer{
        left: 4rem;
    }

    .secondTitleContainer,
    .fourthTitleContainer{
        left: -8rem; 
    }
}

@media (max-width: 1730px) {
    .secondImg{
        margin-top: calc((320vh/2.66) + 35rem);
    }
    
    .thirdImg{
        margin-top: calc((320vh/2.66) + 70rem);
    }

    .fourthImg{
        margin-top: calc((320vh/2.66) + 105rem);
    }

    .fifthImg{
        margin-top: calc((320vh/2.66) + 135rem);
    }

    .firstTitleContainer{
        margin-top: calc((320vh/2.66) + 10rem);
    }
    
    .secondTitleContainer{
        margin-top: calc((320vh/2.66) + 50rem);
    }
    
    .thirdTitleContainer{
        margin-top: calc((320vh/2.66) + 85rem);
    }

    .fourthTitleContainer{
        margin-top: calc((320vh/2.66) + 115rem);
    }

    .fifthTitleContainer{
        margin-top: calc((320vh/2.66) + 147rem);
    }

    .line{
        height: 200rem;
    }

    .footer{
        margin-top: calc(89vh + 180rem + 30rem);
    }

    .dot2{
        margin-top: calc(89vh + 200rem);
    }

}

@media (min-height: 1450px) {

    .line{
        height: 200rem;
    }

    .footer{
        margin-top: calc(89vh + 200rem + 10rem);
    }

    .dot2{
        margin-top: calc(89vh + 200rem);
    }
}

@media (max-width: 1450px) {
    .secondImg{
        margin-top: calc((320vh/2.66) + 30rem);
    }
    
    .thirdImg{
        margin-top: calc((320vh/2.66) + 60rem);
    }

    .fourthImg{
        margin-top: calc((320vh/2.66) + 90rem);
    }

    .fifthImg{
        margin-top: calc((320vh/2.66) + 118rem);
    }

    .firstTitleContainer{
        margin-top: calc((320vh/2.66) + 10rem);
    }
    
    .secondTitleContainer{
        margin-top: calc((320vh/2.66) + 40rem);
    }
    
    .thirdTitleContainer{
        margin-top: calc((320vh/2.66) + 70rem);
    }

    .fourthTitleContainer{
        margin-top: calc((320vh/2.66) + 100rem);
    }

    .fifthTitleContainer{
        margin-top: calc((320vh/2.66) + 128rem);
    }

    .line{
        height: 175rem;
    }

    .footer{
        margin-top: calc(89vh + 175rem + 10rem );
    }

    .dot2{
        margin-top: calc(89vh + 175rem);
    }
}

@media (max-width: 1200px) {
    .secondImg{
        margin-top: calc((320vh/2.66) + 25rem);
    }
    
    .thirdImg{
        margin-top: calc((320vh/2.66) + 50rem);
    }

    .fourthImg{
        margin-top: calc((320vh/2.66) + 75rem);
    }

    .fifthImg{
        margin-top: calc((320vh/2.66) + 100rem);
    }

    .firstTitleContainer{
        margin-top: calc((320vh/2.66) + 10rem);
    }
    
    .secondTitleContainer{
        margin-top: calc((320vh/2.66) + 33rem);
    }
    
    .thirdTitleContainer{
        margin-top: calc((320vh/2.66) + 60rem);
    }

    .fourthTitleContainer{
        margin-top: calc((320vh/2.66) + 82rem);
    }

    .fifthTitleContainer{
        margin-top: calc((320vh/2.66) + 108rem);
    }

    .line{
        height: 150rem;
    }

    .footer{
        margin-top: calc(89vh + 150rem + 10rem);
    }

    .dot2{
        margin-top: calc(89vh + 150rem);
    }
}

@media (max-width: 1000px) {

    .firstImg{
        transform: translateZ(-1px) scale(1.2);
    }

    .secondImg{
        margin-top: calc((320vh/2.66) + 20rem);
        transform: translateZ(-1px) scale(1.2);
    }
    
    .thirdImg{
        margin-top: calc((320vh/2.66) + 40rem);
        transform: translateZ(-1px) scale(1.2);
    }

    .fourthImg{
        margin-top: calc((320vh/2.66) + 60rem);
        transform: translateZ(-1px) scale(1.2);
    }

    .fifthImg{
        margin-top: calc((320vh/2.66) + 80rem);
        transform: translateZ(-1px) scale(1.2);
    }

    .firstTitleContainer{
        margin-top: calc((320vh/2.66) + 5rem);
    }
    
    .secondTitleContainer{
        margin-top: calc((320vh/2.66) + 27rem);
    }
    
    .thirdTitleContainer{
        margin-top: calc((320vh/2.66) + 47rem);
    }

    .fourthTitleContainer{
        margin-top: calc((320vh/2.66) + 63rem);
    }

    .fifthTitleContainer{
        margin-top: calc((320vh/2.66) + 85rem);
    }

    .line{
        height: 127rem;
    }

    .footer{
        margin-top: calc(89vh + 127rem + 10rem);
    }

    .dot2{
        margin-top: calc(89vh + 127rem);
    }
}

@media (max-width: 800px) {

    .secondImg{
        margin-top: calc((320vh/2.66) + 15rem);
    }
    
    .thirdImg{
        margin-top: calc((320vh/2.66) + 30rem);
    }

    .fourthImg{
        margin-top: calc((320vh/2.66) + 45rem);
    }

    .fifthImg{
        margin-top: calc((320vh/2.66) + 60rem);
    }

    .firstTitleContainer{
        margin-top: calc((320vh/2.66) + 5rem);
    }
    
    .secondTitleContainer{
        margin-top: calc((320vh/2.66) + 20rem);
    }
    
    .thirdTitleContainer{
        margin-top: calc((320vh/2.66) + 34rem);
        left: 6rem;
    }

    .fourthTitleContainer{
        margin-top: calc((320vh/2.66) + 50rem);
        left: -7rem; 
    }

    .fifthTitleContainer{
        margin-top: calc((320vh/2.66) + 64rem);
        left: 3rem;
    }

    .line{
        height: 100rem;
    }

    .footer{
        margin-top: calc(89vh + 100rem + 10rem);
    }

    .dot2{
        margin-top: calc(89vh + 100rem);
    }

}

@media (max-width: 600px) {

    .secondImg{
        margin-top: calc((320vh/2.66) + 13rem);
    }
    
    .thirdImg{
        margin-top: calc((320vh/2.66) + 25rem);
    }

    .fourthImg{
        margin-top: calc((320vh/2.66) + 37rem);
    }

    .fifthImg{
        margin-top: calc((320vh/2.66) + 48rem);
    }

    .firstTitleContainer{
        margin-top: calc((320vh/2.66) + 0rem);
    }
    
    .secondTitleContainer{
        margin-top: calc((320vh/2.66) + 14rem);
    }
    
    .thirdTitleContainer{
        margin-top: calc((320vh/2.66) + 27rem);
    }

    .fourthTitleContainer{
        margin-top: calc((320vh/2.66) + 39rem);
    }

    .fifthTitleContainer{
        margin-top: calc((320vh/2.66) + 50rem);
    }

    .line{
        height: 85rem;
    }

    .footer{
        margin-top: calc(89vh + 85rem + 7rem);
    }

    .dot2{
        margin-top: calc(89vh + 85rem);
    }

}

@media (max-width: 450px) {

    .secondImg{
        margin-top: calc((320vh/2.66) + 11rem);
    }
    
    .thirdImg{
        margin-top: calc((320vh/2.66) + 23rem);
    }

    .fourthImg{
        margin-top: calc((320vh/2.66) + 35rem);
    }

    .fifthImg{
        margin-top: calc((320vh/2.66) + 45rem);
    }

    .firstTitleContainer{
        margin-top: calc((320vh/2.66) + 1rem);
    }
    
    .secondTitleContainer{
        margin-top: calc((320vh/2.66) + 12rem);
    }
    
    .thirdTitleContainer{
        margin-top: calc((320vh/2.66) + 24rem);
    }

    .fourthTitleContainer{
        margin-top: calc((320vh/2.66) + 35rem);
    }

    .fifthTitleContainer{
        margin-top: calc((320vh/2.66) + 46rem);
    }

    .line{
        height: 78rem;
    }

    .footer{
        margin-top: calc(89vh + 78rem + 5rem);
    }

    .dot2{
        margin-top: calc(89vh + 78rem);
    }
}