.container{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -5;
}

.img{
    width: 60vmin;
    object-fit: cover;
    position: absolute;
    left: 0; 
    right: 0; 
    top: -3rem;
    bottom: 0;
    margin: auto;
    transform: translateZ(-3px) scale(1.5);
}

.title{
    text-align: center;
    font-family: 'Bebas Neue';
    font-weight: 100;
    font-size: 10vmin;
    margin: 0;
    margin-top: 0rem;
    color: #2F2F2F;
    transform: translateZ(-0px) scale(1.4);
    align-self: center;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.line{
    position: absolute;
    width: .1rem;
    height: 180rem;
    background-color: #c0c0c0;
    margin-top: 89vh;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}
.dot{
    margin-top: 89vh;
}

.dot2{
    margin-top: calc(89vh + 180rem);
}

.restaurantImg,
.pokeImg,
.apiImg,
.movieImg{
    position: absolute;
    width: 43%;
    max-width: 900px;
    object-fit: cover;
    margin-left: -2.8%;
    transform: translateZ(-2px) scale(1.3);
    cursor: pointer;
    transition: transform .5s, filter .5s;
    z-index: 1;
    border-radius: .3rem;
}

.restaurantImg{
    margin-top: calc(320vh/2.66);
}

.pokeImg{
    width: 42.4%;
    margin-top: calc((320vh/2.66) + 40rem);
    margin-left: 59.7%;
}

.apiImg{
    margin-top: calc((320vh/2.66) + 80rem);
}

.movieImg{
    width: 42.4%;
    margin-top: calc((320vh/2.66) + 120rem);
    margin-left: 59.7%;
}

.restaurantImg:hover,
.pokeImg:hover,
.apiImg:hover,
.movieImg:hover{
    transform: translateZ(-2px) scale(1.3) translateY(-.5rem);
    filter: brightness(105%);
    transition: transform .5s, filter .5s;
}

.restaurantTitleContainer,
.pokeTitleContainer,
.apiTitleContainer,
.movieTitleContainer{
    border: none;
    width: fit-content;
    height: fit-content;
    background-color: white;
    position: absolute;
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    transition: transform 1s;

}

.restaurantTitleContainer{
    margin-top: calc((320vh/2.66) + 15rem);
    left: 8rem; 
}

.pokeTitleContainer{
    margin-top: calc((320vh/2.66) + 55rem);
    left: -10rem; 
}

.apiTitleContainer{
    margin-top: calc((320vh/2.66) + 95rem);
    left: 8rem;
}

.movieTitleContainer{
    margin-top: calc((320vh/2.66) + 135rem);
    left: -8rem; 
}



.restaurantTitle1,
.pokeTitle1,
.apiTitle1,
.movieTitle1{
    font-family: 'Montserrat';
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
    color: #2F2F2F;
}

.pokeTitle1,
.movieTitle1{
    text-align: end;
}

.restaurantTitle2,
.pokeTitle2,
.apiTitle2,
.movieTitle2{
    font-family: 'Montserrat';
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
    color: #2F2F2F;
    transition-property: opacity;
    transition-duration: 2s;
    transition-delay: .8s;
}

.pokeTitle2,
.movieTitle2{
    text-align: end;
}

.footer{
    margin-top: calc(89vh + 180rem + 15rem);
}

.MyClassEnterActive {
    opacity: 0;
    transform: translate(0px, 10px);
    transition: transform .5s, opacity .4s linear;
}
  
.MyClassEnterDone {
    opacity: 1;
    transform: translate(0px, -10px);
    transition: transform .5s, opacity .4s linear;
}
  
@media (max-width: 950px) {
    .restaurantTitle2,
    .pokeTitle2,
    .apiTitle2,
    .movieTitle2{
        font-size: 1.3rem;
    }

    .restaurantTitleContainer,
    .apiTitleContainer{
        left: 5rem; 
    }

    .pokeTitleContainer,
    .movieTitleContainer{
        left: -8rem; 
    }
}

@media (min-width: 2100px) {

    .restaurantImg,
    .apiImg{
        margin-left: calc((100vw/2) - 10rem - 950px);
    }

    .pokeImg,
    .movieImg{
        margin-left: calc((100vw/2) + 13.5rem );
    }
    .restaurantTitle2,
    .pokeTitle2,
    .apiTitle2,
    .movieTitle2{
        font-size: 2.3rem;
    }

    .line{
        height: 185rem;
    }


    .dot2{
        margin-top: calc(89vh + 185rem);
    }

}

@media (max-width: 700px) {
    .restaurantTitleContainer,
    .apiTitleContainer{
        left: 6rem; 
    }

    .pokeTitleContainer,
    .movieTitleContainer{
        left: -8rem; 
    }
}

@media (max-width: 700px) {
    .restaurantTitleContainer,
    .apiTitleContainer{
        left: 6rem; 
    }

    .pokeTitleContainer,
    .movieTitleContainer{
        left: -8rem; 
    }
}

@media (max-width: 1730px) {
    .pokeImg{
        margin-top: calc((320vh/2.66) + 35rem);
    }
    
    .apiImg{
        margin-top: calc((320vh/2.66) + 70rem);
    }

    .movieImg{
        margin-top: calc((320vh/2.66) + 105rem);
    }

    .restaurantTitleContainer{
        margin-top: calc((320vh/2.66) + 10rem);
    }
    
    .pokeTitleContainer{
        margin-top: calc((320vh/2.66) + 50rem);
    }
    
    .apiTitleContainer{
        margin-top: calc((320vh/2.66) + 85rem);
    }

    .movieTitleContainer{
        margin-top: calc((320vh/2.66) + 115rem);
    }

    .line{
        height: 170rem;
    }

    .footer{
        margin-top: calc(89vh + 180rem + 5rem);
    }

    .dot2{
        margin-top: calc(89vh + 170rem);
    }

}

@media (min-height: 1450px) {

    .line{
        height: 200rem;
    }

    .footer{
        margin-top: calc(89vh + 200rem + 10rem);
    }

    .dot2{
        margin-top: calc(89vh + 200rem);
    }
}

@media (max-width: 1450px) {
    .pokeImg{
        margin-top: calc((320vh/2.66) + 30rem);
    }
    
    .apiImg{
        margin-top: calc((320vh/2.66) + 60rem);
    }

    .movieImg{
        margin-top: calc((320vh/2.66) + 90rem);
    }

    .restaurantTitleContainer{
        margin-top: calc((320vh/2.66) + 10rem);
    }
    
    .pokeTitleContainer{
        margin-top: calc((320vh/2.66) + 40rem);
    }
    
    .apiTitleContainer{
        margin-top: calc((320vh/2.66) + 70rem);
    }

    .movieTitleContainer{
        margin-top: calc((320vh/2.66) + 100rem);
    }

    .line{
        height: 145rem;
    }

    .footer{
        margin-top: calc(89vh + 145rem + 10rem );
    }

    .dot2{
        margin-top: calc(89vh + 145rem);
    }
}

@media (max-width: 1200px) {
    .pokeImg{
        margin-top: calc((320vh/2.66) + 25rem);
    }
    
    .apiImg{
        margin-top: calc((320vh/2.66) + 50rem);
    }

    .movieImg{
        margin-top: calc((320vh/2.66) + 75rem);
    }

    .restaurantTitleContainer{
        margin-top: calc((320vh/2.66) + 10rem);
    }
    
    .pokeTitleContainer{
        margin-top: calc((320vh/2.66) + 33rem);
    }
    
    .apiTitleContainer{
        margin-top: calc((320vh/2.66) + 60rem);
    }

    .movieTitleContainer{
        margin-top: calc((320vh/2.66) + 82rem);
    }

    .line{
        height: 120rem;
    }

    .footer{
        margin-top: calc(89vh + 120rem + 10rem);
    }

    .dot2{
        margin-top: calc(89vh + 120rem);
    }
}

@media (max-width: 1000px) {

    .restaurantImg{
        transform: translateZ(-1px) scale(1.2);
    }

    .pokeImg{
        margin-top: calc((320vh/2.66) + 20rem);
        transform: translateZ(-1px) scale(1.2);
    }
    
    .apiImg{
        margin-top: calc((320vh/2.66) + 40rem);
        transform: translateZ(-1px) scale(1.2);
    }

    .movieImg{
        margin-top: calc((320vh/2.66) + 60rem);
        transform: translateZ(-1px) scale(1.2);
    }

    .restaurantTitleContainer{
        margin-top: calc((320vh/2.66) + 5rem);
    }
    
    .pokeTitleContainer{
        margin-top: calc((320vh/2.66) + 27rem);
    }
    
    .apiTitleContainer{
        margin-top: calc((320vh/2.66) + 47rem);
    }

    .movieTitleContainer{
        margin-top: calc((320vh/2.66) + 63rem);
    }

    .line{
        height: 100rem;
    }

    .footer{
        margin-top: calc(89vh + 100rem + 10rem);
    }

    .dot2{
        margin-top: calc(89vh + 100rem);
    }
}

@media (max-width: 800px) {

    .pokeImg{
        margin-top: calc((320vh/2.66) + 15rem);
    }
    
    .apiImg{
        margin-top: calc((320vh/2.66) + 30rem);
    }

    .movieImg{
        margin-top: calc((320vh/2.66) + 45rem);
    }

    .restaurantTitleContainer{
        margin-top: calc((320vh/2.66) + 5rem);
    }
    
    .pokeTitleContainer{
        margin-top: calc((320vh/2.66) + 20rem);
    }
    
    .apiTitleContainer{
        margin-top: calc((320vh/2.66) + 34rem);
    }

    .movieTitleContainer{
        margin-top: calc((320vh/2.66) + 50rem);
        left: -7rem; 
    }

    .line{
        height: 80rem;
    }

    .footer{
        margin-top: calc(89vh + 80rem + 10rem);
    }

    .dot2{
        margin-top: calc(89vh + 80rem);
    }

}

@media (max-width: 600px) {

    .pokeImg{
        margin-top: calc((320vh/2.66) + 13rem);
    }
    
    .apiImg{
        margin-top: calc((320vh/2.66) + 25rem);
    }

    .movieImg{
        margin-top: calc((320vh/2.66) + 37rem);
    }

    .restaurantTitleContainer{
        margin-top: calc((320vh/2.66) + 0rem);
    }
    
    .pokeTitleContainer{
        margin-top: calc((320vh/2.66) + 14rem);
    }
    
    .apiTitleContainer{
        margin-top: calc((320vh/2.66) + 27rem);
    }

    .movieTitleContainer{
        margin-top: calc((320vh/2.66) + 39rem);
    }

    .line{
        height: 65rem;
    }

    .footer{
        margin-top: calc(89vh + 65rem + 7rem);
    }

    .dot2{
        margin-top: calc(89vh + 65rem);
    }

}

@media (max-width: 450px) {

    .pokeImg{
        margin-top: calc((320vh/2.66) + 11rem);
    }
    
    .apiImg{
        margin-top: calc((320vh/2.66) + 21rem);
    }

    .movieImg{
        margin-top: calc((320vh/2.66) + 30rem);
    }

    .restaurantTitleContainer{
        margin-top: calc((320vh/2.66) + 1rem);
    }
    
    .pokeTitleContainer{
        margin-top: calc((320vh/2.66) + 12rem);
    }
    
    .apiTitleContainer{
        margin-top: calc((320vh/2.66) + 22rem);
    }

    .movieTitleContainer{
        margin-top: calc((320vh/2.66) + 32rem);
    }

    .line{
        height: 58rem;
    }

    .footer{
        margin-top: calc(89vh + 58rem + 5rem);
    }

    .dot2{
        margin-top: calc(89vh + 58rem);
    }
}