.container{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    margin-top: 1.5rem;
    width: 100vw;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 800px;
}

.btn{
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: bold;
    color: #D2D3D5;
    background: none;
    border: none;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    cursor: pointer;
    transition: color .3s;
    text-decoration: none;
}

.btn:hover{
    color: #bebebe;
    transition: color .3s;
}

.title{
    display: flex;
    flex-direction: column;
    color: #D2D3D5;
    font-family: 'Montserrat';
    font-size: 2rem;
    margin: 0rem;
    margin-left: 3rem;
    transition: opacity 1s, color 1s;
}

.hello{
    margin: 0;
    display: flex;
    flex-direction: row;
}

@media (max-width: 1350px) {
    .container{
        flex-direction: column;
    }

    .title{
        align-self: center;
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .btns{
        align-self: center;
    }

}

@media (max-width: 1000px) {
    .container{
        justify-content: center !important;
        
    }
}

@media (max-width: 585px) {
    .title{
        font-size: 1.5rem;
    }

    .btn{
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 450px) {
    .btn{
        font-size: 1.2rem;
    }
}

@media (max-width: 410px) {
    .title{
        font-size: 1.2rem;
    }
}

@media (max-height: 450px) {
    .btn{
        font-size: 1.3rem;
    }

    .title{
        font-size: 1.5rem;
    }
}


