.redes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.red{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: .5rem;
    transition: background-color .3s;
    cursor: pointer;
}

.red:hover{
    transition: background-color .3s;
    background-color: rgba(223, 223, 223, 0.068);
}

.Logo{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.gmail{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.Data{
    margin-left: 1rem;
}

.title{
    color: rgb(179, 0, 95);
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.link{
    color: white;
    font-family: 'Montserrat';
    font-size: 1rem;
    margin: 0rem;
}


@media (min-width: 2000px) {
    .link{
        font-size: 2rem;
    }

    .title{
        font-size: 2.4rem;
    }

    .Logo{
        width: 5rem;
        height: 5rem;
    }
}

@media (max-width: 1300px) {
    .link{
        font-size: 1rem;
    }

    .title{
        font-size: 1.3rem;
    }

    .Logo{
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (max-width: 950px) {
    .link{
        font-size: 1rem;
    }

    .title{
        font-size: 1.3rem;
    }

    .Logo{
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (max-width: 800px) {
    .link{
        font-size: .8rem;
    }

    .title{
        font-size: 1.2rem;
    }

    .Logo{
        width: 2.2rem;
        height: 2.2rem;
    }
}

@media (max-width: 600px) {
    .link{
        font-size: .6rem;
    }

    .title{
        font-size: 1rem;
    }

    .Logo{
        width: 1.8rem;
        height: 1.8rem;
    }
}

@media (max-width: 470px) {
    .link{
        font-size: .5rem;
    }

    .title{
        font-size: .9rem;
    }

    .Logo{
        width: 1.5rem;
        height: 1.5rem;
    }
}