.container{
    position: relative;
    width: 100vw;
    height: 100vh;
}

img{
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.title{
    position: absolute;
    color: #D2D3D5;
    font-family: 'Montserrat';
    font-size: 8rem;
    margin-left: 3rem;
    margin-top: 25%;
}