
.wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.container{
    position: relative;
    display: flex;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.img{
    width: 101%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -100;
    transform: translateZ(-10px) scale(2.1,2);
}

.titleContainer{
    position: absolute;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title{
    display: flex;
    flex-direction: column;
    color: #D2D3D5;
    font-family: 'Montserrat';
    font-size: 1000%;
    margin: 0rem;
    margin-left: 3rem;
}

.hello{
    margin: 0;
    display: flex;
    flex-direction: row;
    
}

.modalContainer{
    width: 40vw;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

.modalTitle{
    color: white;
    font-family: 'Montserrat';
    font-size: 1.8rem;
    text-align: center;
}

.modalData{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gif{
    margin-top: 1rem;
    width: 35%;
}


.MyClassEnterActive {
    opacity: 0;
    transform: translate(0px, 10px);
    transition: transform .5s, opacity .4s linear;
}

.MyClassEnterDone {
    opacity: 1;
    transform: translate(0px, -10px);
    transition: transform .5s, opacity .4s linear;
}

@media (max-width: 1750px) {
    .title{
        font-size: 7rem;
    }
}

@media (max-width: 1400px) {
    .title{
        font-size: 5rem;
    }
}

@media (max-width: 1000px) {
    .title{
        font-size: 4rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 460px) {
    .title{
        font-size: 3rem;
    }
}