.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(20, 20, 20);
    position: relative;
    overflow: hidden;
}

.background{
    position: absolute;
}

.info{
    position: absolute;
    z-index: 2;
    width: 80vw;
    height: 80vh;
    max-width: 1530px;
    max-height: 840px;
    border-radius: .8rem;
    left: 0; 
    right: 0; 
    top: 1rem;
    bottom: 0;
    margin: auto;
    background-color: rgba(37, 37, 37, 0.5);

    display: flex;
    flex-direction: row;
}

.img{
    width: 40%;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
}

.data{
    width: 60%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: space-around;

}

.line{
    width: 1.5rem;
    height: .3rem;
    background-color: rgb(179, 0, 95);
    min-height: 3px;
}

.name{
    font-family: 'Montserrat';
    color: #D2D3D5;
    font-size: clamp(1.2rem, 2.7vw ,3.1rem);
    margin: 0;
}

.subtitle{
    font-family: 'Montserrat';
    color: #D2D3D5;
    font-size: clamp(1rem, 1.7vw ,2.2rem);
    margin: 0;
}

.description{
    font-family: 'Montserrat';
    color: #D2D3D5;
    font-size: clamp(.4rem, 1.7vw ,1.7rem);
    margin: 0;
}





@media (max-height: 900px) {
    .description{
        font-size: 1.2rem;
    }
}

@media (max-height: 730px) {
    .name{
        font-size: 1.8rem;
    }
    .subtitle{
        font-size: 1.4rem;
    }
    .description{
        font-size: 1rem;
    }
}

@media (max-height: 600px) {
    .info{
        max-height: 70vh;
    }
    .name{
        font-size: 1.6rem;
    }
    .subtitle{
        font-size: 1.2rem;
    }
    .description{
        font-size: .8rem;
    }
}

@media (max-width: 1200px) {
    .info{
        max-height: 75vh;
    }
    .name{
        font-size: 1.6rem;
    }
    .subtitle{
        font-size: 1.4rem;
    }
    .description{
        font-size: 1.1rem;
    }
}

@media (max-width: 750px) {
    .info{
        max-height: 70vh;
    }
    .name{
        font-size: 1.4rem;
    }
    .subtitle{
        font-size: 1.1rem;
    }
    .description{
        font-size: .8rem;
    }
}

@media (max-width: 700px) {
    .info{
        flex-direction: column;
        text-align: center;
        top: 3rem;
    }

    .line{
        align-self: center;
    }

    .img{
        padding: 1rem;
        align-self: center;
        width: 35%;
        border-radius: 1.5rem;
    }

    .data{
        width: 75vw;
        padding: .5rem;
        height: 60vh;
    }

    .name{
        font-size: 1.5rem;
    }

    .subtitle{
        font-size: 1rem;
    }

    .description{
        font-size: .8rem;
    }
    
  }

  @media (max-width: 1200px) and (max-height: 600px)  {
    .info{
        max-height: 60vh;
        margin-top: 9rem;
    }
    .name{
        font-size: 1.6rem;
    }
    .subtitle{
        font-size: 1.4rem;
    }
    .description{
        font-size: .9rem;
    }
}

@media (max-width: 1200px) and (max-height: 500px)  {
    .info{
        max-height: 60vh;
        margin-top: 9rem;
    }
    .name{
        font-size: 1.4rem;
    }
    .subtitle{
        font-size: 1.2rem;
    }
    .description{
        font-size: .7rem;
    }
}

@media (max-width: 1000px) and (max-height: 770px)  {
    .info{
        max-height: 60vh;
        margin-top: 6rem;
    }
    .name{
        font-size: 1.2rem;
    }
    .subtitle{
        font-size: 1rem;
    }
    .description{
        font-size: .6rem;
    }
}


@media (max-width: 800px) and (max-height: 600px)  {
    .info{
        max-height: 70vh;
        margin-top: 4rem;
    }
    .name{
        font-size: 1.2rem;
    }
    .subtitle{
        font-size: 1rem;
    }
    .description{
        font-size: .5rem;
    }
}

@media (max-width: 580px) and (max-height: 750px)  {
    .info{
        max-height: 75vh;
        margin-top: 2rem;
    }
    .name{
        font-size: 1.2rem;
    }
    .subtitle{
        font-size: 1rem;
    }
    .description{
        font-size: .7rem;
    }
}

@media (max-width: 1200px) and (min-width: 1000px) and (max-height: 750px) and (min-height: 500px) {
    .info{
        max-height: 70vh;
        margin-top: 8rem;
    }
    .name{
        font-size: 1.4rem;
    }
    .subtitle{
        font-size: 1.2rem;
    }
    .description{
        font-size: .9rem;
    }
}



@media (max-width: 700px) and  (max-height: 700px) {
    .info{
        max-height: 70vh;
        margin-top: 3rem;
    }

    .img{
        width: 30%;
    }
    .name{
        font-size: 1.2rem;
    }
    .subtitle{
        font-size: 1rem;
    }
    .description{
        font-size: .7rem;
    }
}

@media (max-width: 700px) and  (min-height: 900px) {
    .info{
        max-height: 70vh;
        margin-top: 1.6rem;
    }

    .img{
        width: 30%;
    }
    .name{
        font-size: 1.4rem;
    }
    .subtitle{
        font-size: 1rem;
    }
    .description{
        font-size: .7rem;
    }
}

@media (max-width: 460px) and (max-height: 625px)  {
    .info{
        max-height: 75vh;
        margin-top: -2rem;
    }
    .img{
        width: 30%;
    }
    .name{
        font-size: 1rem;
    }
    .subtitle{
        font-size: .8rem;
    }
    .description{
        font-size: .6rem;
    }
}