.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(20, 20, 20);
    position: relative;
    scroll-snap-align: x mandatory;
}

.background{
    position: absolute;
}

.info{
    position: absolute;
    z-index: 2;
    width: 80%;
    height: fit-content;
    border-radius: .8rem;
    left: 0; 
    right: 0; 
    top: 1rem;
    bottom: 0;
    margin: auto;
    background-color: rgba(37, 37, 37, 0.5);

    display: flex;
    flex-direction: row;
}

.img{
    width: 40%;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
}

.data{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.line{
    width: 1.5rem;
    height: .3rem;
    background-color: rgb(179, 0, 95);
}

.name{
    font-family: 'Montserrat';
    color: #D2D3D5;
    font-size: 2.3rem;
}

.subtitle{
    font-family: 'Montserrat';
    color: #D2D3D5;
    font-size: 1.4rem;
}

.description{
    font-family: 'Montserrat';
    color: #D2D3D5;
    font-size: 1.6rem;
}