.container{
    position: absolute;
    height: 30vh;
    width: 100%;
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    clip-path: ellipse(60% 100% at 50% 100%);
    padding-top: 1rem;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}

.Logo{
    width: auto;
    height: 2.5rem;
    object-fit: cover;
    cursor: pointer;
    transition: transform .2s;
}

.Logo:hover{
    transform: translate(0px, -5px);
    transition: transform .2s;

}

.p{
    color: rgb(159, 159, 159);
    font-family: 'Montserrat';
    font-size: .8rem;
    margin: 0rem;
    text-align: center;
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    color: white;
    font-family: 'Montserrat';
    font-size: 3rem;
    margin:0;
}

@media (min-width: 2000px) {

    .container{
        padding: 2rem;
    }

}

@media (max-width: 900px) {

    .container{
        clip-path: ellipse(80% 100% at 50% 100%);
    }
}

@media (max-width: 470px) {

    .container{
        padding-top: 3rem;
        clip-path: ellipse(100% 100% at 50% 100%);
    }
}